<!-- /sections/section-tabs.liquid -->

<section class="section-tabs {{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="tabs"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="{{ section.settings.width }} section-padding">
    {%- assign tab_links = '' -%}
    {%- assign tab_contents = '' -%}

    {%- for block in section.blocks -%}
      {%- assign title = block.settings.title | default: pages[block.settings.raw_content].title -%}
      {%- assign content = block.settings.text -%}
      {%- assign raw_content = pages[block.settings.raw_content].content -%}
      {%- assign tab_content = content | default: raw_content -%}

      {%- if title != blank and title != '' -%}
        {%- capture tab_links -%}
          {{ tab_links }}

          <button type="button" class="tab-link tab-link--alt tab-link-{{ forloop.index0 }}" data-focus-element data-tab="{{ forloop.index0 }}" data-block-id="{{ block.id }}" tabindex="0" {{ block.shopify_attributes }}>{{ title }}</>
        {%- endcapture -%}

        {%- capture tab_contents -%}
          {{ tab_contents }}

          <div class="tab-content tab-content-{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {{ tab_content }}
          </div>
        {%- endcapture -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if tab_links != '' -%}
      <div class="tabs-wrapper">
        <div class="tabs__holder" data-tabs-holder>
          <div class="tabs__head tabs__head--line">
            <div class="tabs" data-scrollbar data-scrollbar-slider>
              {{ tab_links }}
            </div>

            <button type="button" class="tabs__arrow tabs__arrow--alt tabs__arrow--prev is-hidden is-not-relative" data-scrollbar-arrow-prev>
              <span class="visually-hidden">{{ 'general.accessibility.see_all' | t }}</span>
            </button>

            <button type="button" class="tabs__arrow tabs__arrow--alt tabs__arrow--next is-hidden is-not-relative" data-scrollbar-arrow-next>
              <span class="visually-hidden">{{ 'general.accessibility.see_all' | t }}</span>
            </button>
          </div>

          {{ tab_contents }}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Tabs",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default" },
        { "value": "palette--light bg--accent", "label": "Light" },
        { "value": "palette--dark bg--invert", "label": "Dark" },
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent" }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Tab heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>This content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
        }
      ]
    },
    {
      "name": "Page",
      "type": "page",
      "settings": [
        {
          "type": "page",
          "id": "raw_content",
          "label": "Tab content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Optional override"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs",
      "category": "Text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside"]
  }
}
{% endschema %}
